<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Front Page</title>
</head>
<body>
<a href="/download">download</a>
<!--<form method="POST" th:action="@{/xml}" th:object="${xmlPath}">-->
<!--    <p>XML MANAGER</p>-->
<!--    <label for="xmlPathInput">Zdefiniuj sciężkę do zapisu plików XML</label>-->
<!--    <br/>-->
<!--    <input type="text" id="xmlPathInput" th:field="*{xmlPath}" />-->
<!--    <br/>-->
<!--    <input type="submit" value="ZAPISZ"/>-->
<!--</form>-->

</body>
</html>